<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SISTIC</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

</head>

<body>

<footer th:fragment="footer" id="footer">
	<div id="notification-modal"></div>
    <div id="change-language-dropdown"></div>
    <div class="footer-main-address">
        <strong>National Gallery Singapore</strong><br>
        <span>1 St. Andrew's Road Singapore 178957</span>
        <br>OPENING HOURS<br>SUN - THU, PUBLIC HOLIDAYS: 10AM TO 7PM<br>FRI - SAT, EVE OF PUBLIC HOLIDAYS: 10AM TO 10PM
    </div>
    <div class="footer-main-links">
        <nav class="footer-links-nav">
            <a href="https://www.nationalgallery.sg/about/contact-us">Contact Us</a>
            <a href="https://www.nationalgallery.sg/support">Support</a>
            <a href="https://www.nationalgallery.sg/sitemap">Sitemap</a>
            <a href="https://www.nationalgallery.sg/terms-of-use">Terms Of Use</a>
            <a href="https://www.nationalgallery.sg/privacy-policy">Privacy Policy</a>
        </nav>
        <div class="footer-links-copy">
            <div>
                © 2015 All Rights Reserved
            </div>
        </div>
        <div class="clear"></div>
    </div>

</footer>

</body>
</html>