<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<th:block th:fragment="MASTERCARD_PICKUP">
	<b><span id="orderconfirm.collection.text.01">Please collect your ticket(s) at any of our Singapore SISTIC Authorised Agents before proceeding to the venue.</span> <span id="orderconfirm.collection.text.02">Check Agent location and operation hours <a href="http://www.sistic.com.sg/agents" target="_blank">here</a>.</span></b>
</th:block>

<th:block th:fragment="OUTLET_PICKUP">
	<b><span id="orderconfirm.collection.text.01">Please collect your ticket(s) at any of our Singapore SISTIC Authorised Agents before proceeding to the venue.</span> <span id="orderconfirm.collection.text.02">Check Agent location and operation hours <a href="http://www.sistic.com.sg/agents" target="_blank">here</a>.</span></b>
</th:block>

<th:block th:fragment="VENUE_COLLECTION">
	Please collect your Tickets from <a href="http://www.sistic.com.sg/venues", target="_blank">Event Venue</a> / Box Office on event day 1 hour before show time.
</th:block>

<th:block th:fragment="VENUE_COLLECTION_MASTERCARD">
	Please collect your Tickets from <a href="http://www.sistic.com.sg/venues", target="_blank">Event Venue</a> / Box Office on event day 1 hour before show time.
</th:block>

<th:block th:fragment="VENUE_COLLECTION_REDEMPTION">
	Please collect your Tickets from <a href="http://www.sistic.com.sg/venues", target="_blank">Event Venue</a> / Box Office on event day 1 hour before show time.
</th:block>

<th:block th:fragment="PANGDEMONIUM_MAIL">
	Pangdemonium will mail your Season Ticket card within 7-10 working days after purchase.<br/>Early Bird purchases will be mailed within the first two weeks of November 2015
</th:block>

<th:block th:fragment="TICKETCUBE_COLLECTION">
	Please collect your merchandise(s) and/or ticket(s) from Ticket Club. For ticket(s) collection, be no later than 1 day (by 8pm) before show time.
</th:block>


<th:block th:fragment="OUTLET_PICKUP_SIS">
	Please collect your Tickets from Singapore Indoor Stadium Box Office no later than 1 day (by 8pm) before show time.
</th:block>


<th:block th:fragment="E_TICKET">
	<p><b id="cart.items.delivery.eticket.text">Please print your E-ticket(s) and present at the venue for entry to show.</b></p>
</th:block>

<th:block th:fragment="KIOSK_PICKUP">
	Please collect your tickets from iNETS Kiosk no later than 1 day (by 8pm) before show time.
</th:block>

<th:block th:fragment="OUTLET_PICKUP_RWS">
	Please collect your tickets from Resorts World Sentosa 1 hour before show time.
</th:block>

<th:block th:fragment="VENUE_COLLECTION_RWS">
	Please collect your tickets from Resorts World Sentosa 1 hour before show time.
</th:block>

<th:block th:fragment="ESPLANADE">
	Please collect your tickets from Esplanade 1 hour before show time.
</th:block>

<th:block th:fragment="OUTLET_PICKUP_MBS">
	Please collect your Tickets from event venue on event day 1 hour before show time.
</th:block>

<th:block th:fragment="LKC_COLLECTION">
	Collection at Lee Kong Chian Natural History Museum Counter.
</th:block>

<th:block th:fragment="MAIL">
	<b>Mail (SGD 1.50)</b> - Mailing is available through <a href="http://www.singpost.com" target="_blank">Singpost</a> for Singapore addresses and for events happening at least 7 days in advance. Mailing will take up to 7 working days. Please note that SISTIC is not liable for undelivered mail. Not applicable for General Admission events.
</th:block>

<th:block th:fragment="MAIL_MASTERCARD">
	Your tickets will be sent to you by mail to the following address:
</th:block>

<th:block th:fragment="REGISTERED_MAIL">
	<b>Registered Mail (SGD 3.00)</b> - Registered Mail is available through <a target="_blank" href="http://www.singpost.com/">Singpost</a> for Singapore addresses and for events happening at least 7 days in advance. Unlike normal mail, registered mail service offers proof of delivery with tracking features. Registered Mailing will take up to 7 working days and is a Sign-For service that requires a signature on delivery. For more details or to track your registered mail, please refer to the <a href="http://www.singpost.com/send-documentparcel/registered-article.html" target="_blank">link</a>.
</th:block>

<th:block th:fragment="REGISTERED_MAIL_MERC">
	Your tickets will be sent to you by registered mail to the following address:
</th:block>

<th:block th:fragment="COURIER">
	<b><span id="cart.items.delivery.courier.option">Courier</span> (SGD 15.00)</b> - <span id="cart.items.delivery.courier.text">Courier is a door to door service available through a third party provider for Singapore addresses and for events happening at least 7 days in advance. SISTIC will be contacting you to arrange for delivery at your convenience once the tickets are ready. Courier delivery is a Sign-For service that requires a signature on delivery.</span>
</th:block>

<th:block th:fragment="COURIER_MERC">
	Your tickets will be sent to you by courier to the following address:
</th:block>

<th:block th:fragment="OFFICE_PICKUP">
	Please pick up your tickets from SISTIC Box Office.
</th:block>


<th:block th:fragment="OUTLET_PICKUP_SIS_MERC">
	Please pick up your tickets from SISTIC Box Office.
</th:block>

<th:block th:fragment="NO_TICKETS_ISSUED">
	Thank you for supporting The Theatre Practice, your contribution will go towards helping us achieve the vision we have set out for our audiences, our artists and ourselves, without any compromise.</br>We would be in touch with you shortly via email, to confirm your inclusion in our Friends of Practice programme
</th:block>

<th:block th:fragment="NO_TICKETS_REQUIRED">
	No tickets required. You will be contacted by SRT's Friends administrator within 10 working days regarding your membership programme and its entitlements.
</th:block>

<th:block th:fragment="VENUE_COLLECTION_STANDARD_CHARTERED_MASTERCARD">
	<b><span id="cart.items.delivery.collect_from_event.option">Collection from Event Venue</span> - Payment by Standard Chartered MasterCard Credit or Debit Card (SGD 0.00)</b> - Collect your ticket(s) at the venue starting from one hour before the event time. <br><br>Thank you for using your Standard Chartered MasterCard Credit or Debit Card. The venue collection fee of SGD 1.50 has been waived. This promotion is brought to you by The Good Life&#174;.
</th:block>

<th:block th:fragment="MAIL_WORLD_ELITE_MASTERCARD">
	Your tickets will be sent to you by mail to the following address:
</th:block>

<th:block th:fragment="MAIL_MC_WAIVER">
	Your tickets will be sent to you by mail to the following address:
</th:block>

<th:block th:fragment="DELIVERY_BY_NAC">
    <b>Delivery By National Arts Council</b>
</th:block>

</body>
</html>