<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SISTIC Memberships</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link href="/images/favicon.ico" rel="shortcut icon"
	type="image/png" />
<link href="/css/font.css" media="screen" rel="stylesheet" />
<link href="/images/sistic/fb_logo.gif" rel="image_src" />
<link type="text/css" rel="stylesheet"
	href="/css/jquery.ui.datepicker.css" />
<link id="main-css" type="text/css" rel="stylesheet"
	href="/css/main.css" />
<link type="text/css" rel="stylesheet"
	href="/css/jquery-ui-slider.css" />
<link href="/css/manageMembership.css" media="screen" rel="stylesheet" />

</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<div class="col-xs-12" th:include="sistic/headerfooter/header :: header"></div>
	<div class="col-xs-12 no-side-padding no-side-margin" th:include="fragment/login/loginbar :: login-bar"></div>
	<div class="display-message-manage-register-wrapper">
		<div class="alert alert-warning changes-warning-manageuser-register" role="alert">
		  <p>You have unsaved changes. Please click Update Account before leaving this page.</p>
		</div>
		<!--<div th:unless="${error == null} or ${error.isEmpty()}" class="alert alert-danger changes-warning-manageuser" role="alert">-->
		  <!--<p th:text="${error}">This is error message returned from api</p>-->
		<!--</div>-->
		
		<div class="alert alert-success changes-success-manageuser-register" role="alert" th:unless="${success == null} or ${success.isEmpty()}">
		    <p th:text="${success}">Error to appear here</p>
		</div>
		
		
		<div class="alert alert-danger changes-error-manageuser-register" role="alert" th:unless="${error == null} or ${error.isEmpty()}">
		    <p th:text="${error}">Error to appear here</p>
		</div>
	</div>	
	<div class="container-fluid">
		<div id="container"></div>
		<div class="row">
	        <div th:include="fragment/patron/my-patron-account :: my-patron-account (message='MY ACCOUNT', isRegisterPage=false)"></div>
	    </div>
		<div class="row my-account-content">
			<div class="col-xs-3">
				<div th:include="fragment/patron/sidebar :: sidebar"></div>
			</div>
			<div class="sidebar-seperate"></div>
			<div class="col-xs-9 no-padding" id="subscriptions-page">
				
				<th:block th:if="${(membershipInfoDetailsList == null)}">
					<div>Membership not found</div>
				</th:block>
				<th:block th:if="${membershipInfoDetailsList} != null">
				
					<form id="updateForm" th:action="@{/patron/membership/{path}(path=${organizationId})}" th:object="${membershipInfoDetailsList}" method="POST" novalidate="true">
						<div class="sub-content col-xs-12 row">
							<div class="sub-content-title">
								<p class="image-title-manage-patron">
									<span id="membership.title.1"></span>
								</p>
							</div>
							<th:block th:each="membershipInfoDetails : ${membershipInfoDetailsList.membershipInfoDetails}">
								<div class="col-md-12">
									
									<div class="membership-value col-md-12 membership-details-organization" th:text="${membershipInfoDetails.organizationAlias}">
									</div>
									
									<th:block th:each="membershipPatron : ${membershipInfoDetails.membershipPatron}">
										<div class="membership-label col-md-4 membership-details-type">
											<span id="membership.label.membership.type">Membership Type</span>
										</div>
										<div class="membership-value col-md-8 membership-details-type" th:text="${membershipPatron.membershipTier}">
										</div>
										
										<div class="membership-label col-md-4">
											<span id="membership.label.card.effective.date">Card Effective Date</span>
										</div>
										<div class="membership-value col-md-8">
											<span th:text="${#temporals.format(membershipPatron.startDate, 'E, dd MMM yyyy')}" /> to 
											<span th:text="${#temporals.format(membershipPatron.endDate, 'E, dd MMM yyyy')}" />
										</div>
									</th:block>				
								</div>
								
								<div class="col-md-12 membership-separator"></div>
								
								<th:block th:if="${membershipInfoDetails.membershipInfoBenefit} != null">
								
									<div class="col-md-12">
										
										<th:block th:each="membershipBenefit : ${membershipInfoDetails.membershipInfoBenefit}">
											
											<div th:if="${membershipBenefit.type == 'POINTS'}">
												<div class="col-md-12">
													<span class="membership-benefit-type" th:text="${membershipBenefit.alias}"></span>
												</div>
												
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.award">Points Awarded</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.redeem">Points Redeemed</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.balance">Balance</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.expiry">Expiry Date</span>
												</div>
												
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${membershipBenefit.award}"></span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${membershipBenefit.redeem}"></span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${membershipBenefit.balance}"></span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${#temporals.format(membershipBeneftit.expiry, 'E, dd MMM yyyy')}" />
												</div>
											
											</div>
											
											<div th:if="${membershipBenefit.type == 'EVOUCHER'}">
												<div class="col-md-12">
													<span class="membership-benefit-type" th:text="${membershipBenefit.alias}"></span>
												</div>
												
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.evoucherid">E-Voucher ID</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.value">Value</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.redeem.status">Status</span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-header" id="membership.benefit.expiry">Expiry Date</span>
												</div>
												
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${membershipBenefit.evoucherid}"></span>
												</div>
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${membershipBenefit.value}"></span>
												</div>
												<div class="col-md-3">
													<th:block th:if="${membershipBenefit.redeemstatus}">
														<span class="membership-benefit-value" id="membership.benefit.redeem.status.redeemed">Redeemed</span>
													</th:block>
													
													<th:block th:unless="${membershipBenefit.redeemstatus}">
														<span class="membership-benefit-value" id="membership.benefit.redeem.status.active">Active</span>
													</th:block>
												</div>
												
												<div class="col-md-3">
													<span class="membership-benefit-value" th:text="${#temporals.format(membershipBeneftit.expiry, 'E, dd MMM yyyy')}" />
												</div>
											
											</div>
											
										</th:block>				
									</div>
									
									<div class="col-md-12 membership-separator"></div>
								</th:block>
							</th:block>
							
							<div class="col-md-12">
								<th:block th:each="membershipInfoDetails : ${membershipInfoDetailsList.membershipInfoDetails}">
									<th:block th:each="membershipProfileConfig : ${membershipInfoDetails.profileConfig}">
										<div class="membership-block col-md-12">
											<div th:id="${'membership.instruction.' + membershipProfileConfig.key}" class="membership-instruction" th:text="${membershipProfileConfig.key}"></div>
										
											<th:block th:each="membershipConfigProfile : ${membershipProfileConfig.profiles}">
												<div class="membership-alias" th:text="${membershipConfigProfile.alias}"></div>
												<th:block th:each="membershipConfigOption : ${membershipConfigProfile.options}">
													<th:block th:if="${membershipConfigOption.type} == 'CHECKBOX'">
														<input type="checkbox" th:id="${membershipConfigOption.subKey}" th:name="${membershipProfileConfig.key}" th:value="${membershipConfigOption.subKey}" th:checked="${membershipConfigOption.isSelected}" />&nbsp;
														<span th:utext="${membershipConfigOption.subAlias}"></span><br />
													</th:block>
				
													<th:block th:if="${membershipConfigOption.type} == 'RADIO'">
														<input type="radio" th:id="${membershipConfigOption.subKey}" th:name="${membershipProfileConfig.key}" th:value="${membershipConfigOption.subKey}" th:checked="${membershipConfigOption.isSelected}" />&nbsp;
														<span th:utext="${membershipConfigOption.subAlias}"></span><br />
													</th:block>
													
													<th:block th:if="${membershipConfigOption.type} == 'TEXT'">
														<div class="col-md-4"><span th:utext="${membershipConfigOption.subAlias}"></span>:</div><div class="col-md-8"><input type="text" th:id="${membershipConfigOption.subKey}" th:value="${membershipConfigOption.selectedValue}" /></div>
														<br />
													</th:block>
													
													<th:block th:if="${membershipConfigOption.type} == 'SELECT'">
														<input type="radio" th:id="${membershipConfigOption.subKey}" th:name="${membershipProfileConfig.key}" th:value="${membershipConfigOption.subKey}" th:checked="${membershipConfigOption.isSelected}" />&nbsp;
														<span th:utext="${membershipConfigOption.subAlias}"></span><br />
													</th:block>
													
													<th:block th:if="${membershipConfigOption.type} == 'SPAN'">
														<span th:utext="${membershipConfigOption.subAlias}"></span><br />
													</th:block>
												</th:block>
											</th:block>
										</div>
									</th:block>
								</th:block>
							</div>
							
							<input id="membership_profile_fields" type="hidden" name="membershipProfileFields" value="" />
							<div id="btn-update-membership-attach" class="col-xs-6 pull-center"></div>
							
							<!-- 
							<div class="membership-label col-md-12">
								<button id="membership-button" class="enable-btt membership-button">Update</button>
							</div>
							 -->
							
						</div>
					</form>
				</th:block>
			</div>
		</div>
	</div>

	<footer class="col-xs-12"
		th:include="sistic/headerfooter/footer :: footer"> </footer>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.min.js"
		charset="utf-8"></script>
	<script src="/bin/manage-membership.js" charset="utf-8"></script>
</body>
</html>