<div class="col-xs-12 col-lg-12 item" th:fragment="cart-item" id="cart-item">
	<div id="line-item-containers" data-th-attr="data-lineitemstotal=${shoppingcart.getLineItemsTotalPriceFormatted()}, data-currency=${shoppingcart.lineItemTotal.currency}">
		<div style="display:none" class="analytics-items" th:if="${isShoppingCart != true} and ${analytics != null}">
			<div class="analytics-item" th:each="item, rowStat : ${analytics}"
				th:attr="data-icc=${item.icc},
					data-productId=${item.productId},
					data-productName=${item.productName},
					data-productDate=${item.productDate},
					data-venue=${item.venue},
					data-priceClassCode=${item.priceClassCode},
					data-priceClassName=${item.priceClassName},
					data-quantity=${item.quantity},
					data-unitPrice=${item.unitPrice},
					data-currency=${item.currency}"></div>		
		</div>
		<div class="cart-dtls-wrapper">
			<div class="cart-items-list">
				<div class="header-item row">
					<div id="cart.items.header.no.label" class="shop-col-1 row-item-cart">No.</div>
					<!-- col-xs-12 col-lg-1 -->
					<div id="cart.items.header.item.label" class="shop-col-3 row-item-cart">Item</div>
					<!-- col-xs-12 col-lg-3 -->
					<div id="cart.items.header.tickettype.label" class="shop-col-2 row-item-cart">Ticket Type</div>
					<!-- col-xs-12 col-lg-2 -->
					<div id="cart.items.header.ticketqty.label" class="shop-col-4 row-item-cart">Qty</div>
					<!-- col-xs-12 col-lg-1 -->
					<div id="cart.items.header.unit-price.label" class="shop-col-2 row-item-cart">Unit Price</div>
					<!-- col-xs-12 col-lg-2 -->
					<div id="cart.items.header.booking-fee.label" class="shop-col-2 row-item-cart">Booking Fees</div>
					<!-- col-xs-12 col-lg-2 -->
					<div id="cart.items.header.subtotal.label" class="shop-col-2 row-item-cart">Subtotal</div>
					<!-- col-xs-12 col-lg-1 -->
				</div>
	
				<div id="item-table" class="item row table-body-item" th:each="lineitem, rowStat : ${shoppingcart.displayLineItems()}">
					<div th:unless="${lineitem.type == 'ADDON'}">
						<div class="shop-col-1 row-item-cart number">
							<span class="" th:text="${rowStat.count}"></span>
						</div>
						<div th:unless="${lineitem.type == 'DELIVERY'}" class="shop-col-3 item row-item-cart row-item-description">
							<div class="description " th:text="${lineitem.product.productName}">
								Lee Kong Chian Natural History Museum (Aug16) (Test)</div>
							<th:block th:unless="${lineitem.type == 'DONATION'}">
								<div class="datetimevenue"
									th:text="${#temporals.format(lineitem.product.productDate, 'E dd MMM yyyy hh:mm a ') + lineitem.product.venue}">
									Sat 01 Oct 2016 10:00 AM Lee Kong Chian Natural History Museum</div>
								<div class="seatinfo item">
									<!-- START Reserved Seating -->
									<th:block th:if="${lineitem.product.productType == 'RS'}">
										<span th:text="|Level: ${lineitem.product.level} 
										Section:  ${lineitem.product.section} 
										Row: ${lineitem.product.row} 
										Seat(s) ${lineitem.product.getSeatsFormatted()}|">
										</span>
									</th:block>
									<!-- END Reserved Seating -->
									<!-- START General Admission -->
									<th:block th:if="${lineitem.product.productType == 'GA'}">
										<span th:text="|Level: ${lineitem.product.level} 
										Section: General Admission - General Admission|">
										</span>
									</th:block>
									<!-- END General Admission -->
								</div>
							</th:block>
						</div>
						
						<!-- Start Delivery fee item type is only displayed in order confirmation. Because cart-item wanted to be reused. -->
						<div th:if="${lineitem.type == 'DELIVERY'}" class="shop-col-3 item row-item-cart row-item-description">
							<div class="description " th:text="#{${'label.booking.delivery.collection.name.'+lineitem.code}}">
								Waiver for mastercard
							</div>
						</div>
						<!-- End Delivery fee item type is only displayed in order confirmation. Because cart-item wanted to be reused. -->
						<!-- Start Price Class column for PRODUCT , where price class is applicable -->
						<div class="shop-col-2 ticket-type row-item-cart" th:if="${lineitem.type == 'PRODUCT' or lineitem.type == 'DONATION'}"
							th:text="${lineitem.priceclass.priceClassName} ? ${lineitem.priceclass.priceClassName} : '-'">S'porean/ PR Adult
						</div>
						<!-- End Price Class column for PRODUCT -->
						<!-- Start Price Class column for FEE -->
						<div class="shop-col-2 ticket-type row-item-cart" th:unless="${lineitem.type == 'PRODUCT' or lineitem.type == 'DONATION'}" th:text="'-'">-</div>
						<!-- End Price Class column for FEE , where price class is not applicable -->
						<div class="shop-col-4 quantity row-item-cart" th:text="${lineitem.quantity} ? ${lineitem.quantity} : '-'">2</div>
						<div class="shop-col-2 row-item-cart unit-price">
							<span class="currency" th:text="${lineitem.unitPrice.currency}"></span>
							<span class="amount" th:text="${lineitem.getUnitPriceFormatted()}"></span>
						</div>
						<!-- Start Booking fee column for PRODUCT , where booking fee is applicable -->
						<div class="shop-col-2 booking-fee row-item-cart" th:if="${lineitem.type == 'PRODUCT' or lineitem.type == 'DONATION'}">
							<span class="currency" th:text="${lineitem.bookingFee.currency}"></span>
							<span class="amount" th:text="${lineitem.getBookingFeeFormatted()}"></span>
						</div>
						<!-- End Booking Fee column for PRODUCT , where booking fee is applicable -->
						<!-- Start Price Class column for FEE , where booking fee is not applicable -->
						<div class="shop-col-2 booking-fee row-item-cart" th:unless="${lineitem.type == 'PRODUCT' or lineitem.type == 'DONATION'}">
							<span th:text="'-'">-</span>
						</div>
						<!-- End Price Class column for FEE , where booking fee is not applicable -->
						<div class="shop-col-2 subtotal row-item-cart">
							<span class="currency" th:text="${lineitem.subTotal.currency}"></span>
							<span class="amount subtotal-amount" th:text="${lineitem.getSubTotalFormatted()}"></span>
							<!-- Only show for ShoppingCart, not in Order Confirmation -->
							<div th:if="${isShoppingCart == true}">
								<!-- <a th:href="@{/cart/delete(cartItemId=${lineitem.cartItemId}, priceClassCode=${lineitem.priceclass.priceClassCode})}">Remove</a> -->
								<!-- <a href="#" data-th-attr="data-cartitemid=${lineitem.cartItemId}, data-priceclasscode=${lineitem.priceclass.priceClassCode}">Remove</a> -->
								<a href="#" id="cart.items.remove.link" class="remove-option-cart remover cart.items.remove.link.multi"
									data-th-attr="data-cartitemid=${lineitem.cartItemId}, data-priceclasscode=${lineitem.priceclass.priceClassCode}">Remove</a>

							</div>
						</div>
					</div>
					<!-- ADDON BEGIN -->
					<div th:if="${isShoppingCart == true} and ${lineitem.type == 'ADDON'}" class="addon-wrapper" style="display: flex; -webkit-justify-content: flex-start;">
						<div class="shop-col-1 row-item-cart number">
							<span class="" th:text="${rowStat.count}"></span>
						</div>
						<div class="shop-col-3 item row-item-cart row-item-description">
							<div th:id="'addon-title-' + ${lineitem.productID}" class="description " th:text="${lineitem.productDescription}">
								(Test)</div>
							<div class="datetimevenue"
								 th:utext="${lineitem.productMessage}">
							</div>
						</div>
		
						<div class="shop-col-2 ticket-type row-item-cart">
							<span th:text="${lineitem.addonType}">Donation</span>
						</div>
						<div class="form-group shop-col-2" style="margin: 0 10px 0 0;">
							<select th:id="'addon-select-' + ${lineitem.productID}" class="col-xs-12 no-padding" data-th-attr="data-addon-productID=${lineitem.productID},
												data-addon-priceClassCode=${lineitem.getPriceClassCode() + ':1'},
												data-addon-type='addon'">
								<option th:each="addonOption : ${lineitem.addonOptions()}"
										th:value="${addonOption.priceCategoryId}"
										th:data-data='|{"seatSectionId": ${addonOption.seatSectionId}}|'
										th:text="|${addonOption.priceValue.currency} ${addonOption.getPriceValueFormatted()}|">
								</option>
							</select>
							<span class="help-block messages addon-select"></span>
							<div th:id="'lightbox-content-' + ${lineitem.productID}" style="display:none;" th:text="${lineitem.getLightboxContent()}"></div>
						</div>
		
						<div class="shop-col-4">
							<button th:id="'addon-yes-button-' + ${lineitem.productID}" class="addon-cart-button button-b-con padding-l-r-10 min-width-68">
								<span class="cart.donation.yes.btn.multi" id="addon.button.yes">Yes</span></button>
						</div>
						<div style="float: left; width: 20px;">
							&nbsp;
						</div>
						<div class="shop-col-5">
							<button th:id="'addon-no-button-' + ${lineitem.productID}" class="addon-cart-button button-b-con padding-l-r-10 min-width-68">
								<span class="cart.donation.no.btn.multi" id="addon.button.no">No, thanks</span></button>
						</div>
					</div>
					<!-- ADDON END -->

				</div>
			</div>	
		</div>
		<!-- Start of delivery section -->
		<div th:if="${isShoppingCart == true}" class="row delivery seperate-section">
			<div class="form-group col-xs-6 col-sm-6 col-md-5">
				<!-- jian hong you are going to need to try using the name attribute instead because of my th:selected -->
				<!-- http://forum.thymeleaf.org/th-selected-not-working-on-multiple-select-td4025883.html -->
				<select id="delivery-charge-select" th:name="deliveryMethodCode">
					<th:block th:if="${shoppingcart.commonDeliveryMethod == null}">
						<option><span id="cart.items.delivery.default.option">Please choose a delivery method</span></option>
					</th:block>
					<th:block th:if="${shoppingcart.commonDeliveryMethod != null}">
						<option th:each="method : ${shoppingcart.commonDeliveryMethod.deliveryMethodList}"
								th:value="${method.code}"
								th:selected="${'MASTERCARD_PICKUP'.equals(method.code)}"
								th:text="#{${ 'label.booking.delivery.collection.name.'+ method.code}}">
						</option>
					</th:block>
				</select>
			</div>
			<div class="total-qty" style="display: none;"><span>Total qty: </span><span class="total-qty-num"></span></div>
			<div id="delivery-charge" class="price col-xs-4 col-sm-4 col-md-3">
				<span class="currency" th:text="${shoppingcart.currencyUnit}"></span>
				<span id="delivery-price" class="amount">0.00</span>
			</div>

			<!-- Delivery info to be displayed in this container -->
			<div>
				<div th:if="${shoppingcart.commonDeliveryMethod != null}">
					<th:block th:each="method : ${shoppingcart.commonDeliveryMethod.deliveryMethodList}">
						<!-- Data Node -->
						<div th:id="${'option-'+ method.code}"
							 data-th-attr="data-amount=${method.getChargeValue()}, data-currency=${method.charge.currency}, data-addressNeeded=${method.isAddressRequired}"></div>
						<!-- end of data -->
						<div class="col-xs-10" th:include="fragment/deliverymethod/delivery-method :: ${method.code}" th:attr="id=${method.code}"
							 th:style="${('MASTERCARD_PICKUP'.equals(method.code))? 'display:block' : 'display:none'}">
							This is the delivery method
						</div>
					</th:block>
				</div>
				
				<th:block th:unless="${confirmorderform == null}">
					<div class="col-xs-6" th:replace="fragment/cart/address-form :: address-form"></div>
				</th:block>
			</div>
			
			<div>
				<div class="delivery-method-description">
					<div class=" col-xs-12" style="margin-top: 35px;">
						<div th:include="@{ ${tenantTemplateCode} + '/view/cart/booking_fee'} :: booking_fee"></div>
						<div style="text-align: right; float: right" id="remove-all">
							<a id="cart.items.remove-all.link" class="remover">Remove All</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of <div class="row delivery seperate-section"> -->
	</div>
</div>