<div class="col-xs-12 col-md-12 item" th:fragment="ticket-protector">
	<div class="overlay-level-5 protector-cover hidden" id="protector-cover"></div>

	<div class="tp_wrapper col-xs-12" id="tp">
			<div class="tp-title col-xs-12 acc-wrapper-title" data-target="tp-wrapper">
				<span id="cart.ticket-protect.title">Ticket Protector</span>
			</div>

		<div class="tp_content  acc-wrapper-content col-xs-12" id="tp-wrapper"> 
			 <div class="panel-body padding-0 padding-m-0">
				<div th:include="@{ ${tenantTemplateCode} + '/view/cart/protector_description'} :: protector_description"></div>
				<div class="row ">
					<div class="highlight_type col-xs-12">
						<div class="type">
							<span id="cart.ticket-protect.condition.01">Sickness or Injury</span></div>
						<div class="typeshadow"></div>
						<div class="type">
							<span id="cart.ticket-protect.condition.02">Unexpected Overseas <br/>
							Business Trip</span>
						</div>
						<div class="typeshadow"></div>
						<div class="type typelast">
							<span id="cart.ticket-protect.condition.03">Accidents and</span>
							<a target="_blank" href="https://www.magroup-online.com/SIS/SG/EN/POL_WRD.pdf">
								<span id="cart.ticket-protect.condition.03.link">more</span>
							</a>
						</div>
						<div class="clear"></div>

					</div>
				</div>	
				<div class="row form-group ticket-protector-inputs-wrapper">
					<input type="radio" id="purchaseTp-true"  name="purchaseTp" style="display: none;" value="true" th:field="${confirmorderform.purchaseTp}"/>
					<input type="radio" id="purchaseTp-false"  name="purchaseTp" style="display: none;" value="false" th:field="${confirmorderform.purchaseTp}"/>
					<div id="uniform-tp" data-th-attr="data-currencyunit=${shoppingcart.currencyUnit}, data-ticketprotectoramount=${shoppingcart.getTicketProtectorPriceFormatted()}"></div>
					<span class="help-block messages"></span>
				</div>
				<span class="help-block messages ticket-protect-err-msg"></span>
				
				<div th:include="@{ ${tenantTemplateCode} + '/view/cart/ticket_protector_description'} :: ticket_protector_description"></div>
			</div>
		</div>
	</div>
</div>
