<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="__${tenantTemplateCode}__/headerfooter/head-tag :: head-tag" th:remove="tag" />
		<object th:include="fragment/general/head-tag :: head-tag" th:remove="tag" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" th:href="@{'/css/tenant/'+${tenantTemplateCode} + '/order-confirmation.css'}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.min.js" charset="utf-8"></script>

		<!-- <script type="text/javascript" src="https://static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script> -->
	</head>


	<body>
		<div id="queue-lightbox"></div>
		
		<div th:include="@{ ${tenantTemplateCode} + '/headerfooter/header'} :: header"></div>
		<div id="vizpro_page_wrapper">
			<div class="col-xs-12 no-side-padding no-side-margin" th:include="fragment/login/loginbar :: login-bar"></div>
			<div class="clearfix"></div>
			<div id="app">
				<div class="header col-xs-12 ">
					<div class="sc-title col-xs-9 shopping-cart-title">
						<h3><span id="cart.label.title">Order Confirmed</span></h3>
					</div>
					<div class="continue col-xs-3">
						<a href="#" id="print" class="order-print-wrapper" onclick="">
							<i class="fa fa-print fa-2 order-print-icon" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="content col-xs-12 order-confirmation-content">
					<!-- Start of Success Message -->
					<div id="text-to-print">
						<div>
							<p th:text="|Dear ${transactionOrder.firstName} ${transactionOrder.lastName},|">Dear FDASDA123124 ONGS SDF,</p>
							<p th:text="|Your email confirmation has been sent to ${transactionOrder.emailAddress}. Please use this email to log in on your next visit.|"></p>
						</div>
						<!-- End of Success Message -->

						<!-- Start shopping cart item list -->
						<div id="payment-form" novalidate="true"> <!-- th:action="@{/{tenant}/action/confirmorder (tenant=${tenantContext}) }" --> <!-- th:object="${confirmorderform}" -->
							<div id="cart" class="cart">
								<div class="col-xs-12  no-side-padding" th:include="fragment/cart/cart-item :: cart-item" th:with="shoppingcart=${transactionOrder.shoppingCartModel}"></div>
								<div class="total col-xs-12" th:include="fragment/cart/grand-total :: grand-total (isShoppingCart=false)" th:with="grandtotal=${transactionOrder}"></div>
							</div> 
						</div>
					</div>
					<!-- End of shopping cart item list -->

					<!-- Booking reference -->

					<table cellpadding="10" cellspacing="15" width="100%" class="reference_table">
						<tbody>
							<tr>
								<td colspan="5" class="reference_header">Booking Reference</td>
							</tr>
							<tr>
								<td class="reference_title">Transaction No.</td>
								<td class="reference_value border-style" th:text="${transactionOrder.transactionRefNumber}">20170302-000346</td>
								<td class="reference_title">Name</td>
								<td class="reference_value" th:text="|${transactionOrder.firstName} ${transactionOrder.lastName}|">FDASDA123124 ONGS SDF</td>
							</tr>
							<tr>
								<td class="reference_title">Date of Purchase</td>
								<td class="reference_value border-style" th:text="${#temporals.format(transactionOrder.purchaseDate, 'dd MMM yyyy (E) hh:mm a')}">02 March 2017 (Thu) 11:57 AM</td>
								<td class="reference_title">SISTIC Account No.</td>
								<td class="reference_value" th:text="${transactionOrder.acctNum}">2838855</td>
							</tr>
							<tr>
								<td class="reference_title">&nbsp;</td>
								<td class="reference_value border-style">&nbsp;</td>
								<td class="reference_title">Payment Method(s)</td>
								<td class="reference_value">
									<div th:each="transactionOrderPaymentDetails : ${transactionOrder.transactionOrderPaymentDetailsList}">
										<div th:text="|${transactionOrderPaymentDetails.getPaymentTypeFormatted()} (${transactionOrderPaymentDetails.getCurrencyUnit()} ${transactionOrderPaymentDetails.getPaymentPriceFormatted()})|">
											MASTER Card  (SGD 31.80)
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- End of booking reference -->

					<!-- Advertise banner -->
					<div class="col-xs-12 no-side-padding hidden" id="advertise-banner">
						<a target="_blank" border="0" id="mcLink" href="https://www.sistic.com.sg/promotions?cid=2016octdec-shoppingcart-mcapplepromo&amp;?#3641">
							<img src="/images/Booking-Page-Banner.jpg" id="masterBanner"/>
						</a>
					</div>
					<!-- End of advertise banner -->

					<!-- Ticket collection part -->
					<div class="row" id="ticket-collections">
						<div class="left-info col-xs-12">
							<div th:unless="${transactionOrder.deliveryMethod.code == 'NO_TICKETS_ISSUED'}">
								<h3 class="left-info-title">TICKET(S) COLLECTION</h3>
								<div class="left-info-content">
									<div>
										<div th:include="fragment/deliverymethod/collection-instructions :: ${transactionOrder.deliveryMethod.code}"></div>
									</div>
									<div class="line-gap"></div>
									<div class="line-gap"></div>
									<div class="left-info-note">Note:</div>
									<div class="line-gap"></div>
									<p>For Verification purposes, kindly present the following upon collection:-</p>
									<p>i. Credit card used in this transaction</p>
									<p>ii. Your NRIC/Passport/FIN Card</p>
									<p>iii. Clear print out of this email confirmation</p>
									<div class="line-gap"></div>
									<p>For a proxy to collect on your behalf, he/she needs to present:-</p>
									<p>i. This <a href="https://www.sistic.com.sg/portal/sistic/Letter%20Of%20Authorisation.pdf">Letter of Authorization</a> (duly completed and signed by Credit Cardholder)</p>
									<p>ii. Clear photocopy of Credit Cardholder's photo identification card such as NRIC/Passport/FIN Card</p>
									<p>iii. Clear photocopy of the front of Credit Card used for the purchase</p>
									<p>iv. Proxy's original photo identification card such as NRIC/Passport/FIN Card</p>
									<p></p>
									<div class="line-gap"></div>
									<p>* Strictly no replacement of tickets for General Admission events</p>
									<div class="line-gap"></div>
									<div class="important-note">
										<p>Important Note:</p>
										<p>Vizpro reserve the right not to release tickets if the above documents are not in order.</p>
									</div>
								</div>
							</div>
							<div>
								<h3 class="left-info-title">REFUND EXCHANGE POLICY</h3>
								<div class="left-info-content">
									No refund or exchange of tickets is allowed once booking is confirmed. 
								</div>
							</div>
						</div>

						<!-- <div class="right-banner col-xs-3">
							<div class="banner-placeholder">
								<a th:href="@{https://www.facebook.com/vizproevents}" target="_blank">
									<img src="/tenant/vizpro/images/Facebook-ConfirmationPage-L.jpg" />
								</a>
							</div>
							<div class="banner-placeholder">
								<a th:href="@{http://www.vizpro.sg}" target="_blank">
									<img src="/tenant/vizpro/images/Mobile-App-confirmation-LR.jpg" />
								</a>
							</div>
						</div> -->
					</div>
					<!-- End of ticket collection part -->
					<div class="col-xs-12 thanks-text">Thank you for booking with Vizpro.</div>
				</div>

			</div>
		</div>
		<footer th:include="@{ ${tenantTemplateCode} + '/headerfooter/footer'} :: footer"></footer>
		<div class="overlay-level-2" style="position:fixed;width:200px;float:right;bottom:20px;right:10px" id="timer-modal">
		</div>
		<div id="lightbox_wrapper"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.js" charset="utf-8"></script>
		<script src="/bin/orderconfirmation.js" charset="utf-8"></script>

	</body>
</html>