<div th:fragment="ticket_protector_description" class="row ticket-protector-description">
	<span id="cart.ticket-protect.tnc">By including Ticket Protector, you acknowledge that you have read the <a href="https://www.magroup-online.com/SIS/SG/EN/POL_WRD.pdf" target="_blank">
	Policy Wording
	</a>
	, that you understand Ticket Protector is offered by Allianz Global Assistance, and that it is underwritten by 
	Tokio Marine Insurance Singapore Ltd. SISTIC shall not be liable for any loss, damage or expense 
	in relation to Ticket Protector.
	</span> 
	
</div>