<div th:fragment="protector_description" class="row protector-description">
	<span id="cart.ticket-protect.text">Protect the value of your event tickets with Ticket Protector. 
	It insures your tickets in case you and your companion(s) are unable to attend an event. Click here for
	</span> 
	<a href="https://www.sistic.com.sg/portal/sistic/tickpro/ticketprotector.html" id="view-detail-ticket-protector">
		<span id="cart.ticket-protect.text.detail.link" class="hyper-link">details</span>
	</a>
</div>