<div th:fragment="password" class="col-xs-12 wrapper" id="password">
	<!-- Begin password group  -->
    <div class="row">
        <a href="#password-section" data-toggle="collapse" data-target="#password-section">                    
        	<span id="register.mailing.title"><h4>Password</h4>
        	<i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        	</span>
        </a>
        <div id="password-section" class="collapse">
		    <div class="row">
		        <div class="form-group">
		            <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label" for="register.password.label.currentpassword">                                    
		                <span id="register.password.label.password">* Current password</span>
		            </label>
		            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
		                <input th:field="*{password}" id="current-password" required="" name="current-password" type="password" placeholder=""
		               				class="form-control input-xs"/>
		                <span class="help-block"></span>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="form-group">
		            <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label" for="register.password.label.newpassword">                                    
		                <span id="register.password.label.password">New password</span>
		            </label>
		            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
		                <input th:field="*{newPassword}" id="fresh-password" required="" name="fresh-password" type="password" placeholder=""
		               				class="form-control input-xs"/>
		                <span class="help-block"></span>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="form-group">
		            <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label" for="register.password.label.confirm">
		                <span id="register.password.label.confirm">Confirm New Password</span>                                    
		            </label>
		            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
		                <input th:field="*{confirmPassword}" id="confirm-password" required="" name="confirm-password" type="password" placeholder=""
		               			class="form-control input-xs"/>
		                <span class="help-block"></span>
		            </div>
		        </div>
		    </div>  
	 	</div>
	</div>          
</div>
