<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SISTIC</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

</head>

<body>

<footer th:fragment="footer" id="footer">
    <div id="notification-modal"></div>
    <div id="change-language-dropdown"></div>
    <div id="footer">
        <div class="footer-main bg-black font-white">
            <div class="margin-top-medium footer_container">
                <div class="clearfix">
                    <div class="col-footer">
                        <div class="inline-middle">
                            <div class="font-title text-title text-title-middle">Connect With Us</div>
                        </div>
                        <div class="inline-middle">
                            <div class="visible-xs">
                                <div class="inline-middle margin-left-small hover-pointer">
                                    <a href="https://www.facebook.com/vizproevents/" target="_blank">
                                        <div class="icon-social icon-fb icon-fit"></div>
                                    </a>
                                </div>
                                <div class="inline-middle margin-left-small hover-pointer">
                                    <a href="https://www.instagram.com/vizproevents/" target="_blank">
                                        <div class="icon-social icon-twitter icon-fit"></div>
                                    </a>
                                </div>
                                <div class="inline-middle margin-left-small hover-pointer">
                                    <a href="https://www.facebook.com/vizproevents/" target="_blank">
                                        <div class="icon-social icon-instagram icon-fit"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="padding-vertical-small hidden-xs">
                            <div class="inline-middle hover-pointer">
                                <a href="https://www.facebook.com/vizproevents/" target="_blank">
                                    <div class="icon-social icon-fb icon-fit"></div>
                                </a>
                            </div>
                            <div class="inline-middle hover-pointer">
                                <a href="https://www.instagram.com/vizproevents/" target="_blank">
                                    <div class="icon-social icon-twitter icon-fit"></div>
                                </a>
                            </div>
                            <div class="inline-middle hover-pointer">
                                <a href="https://www.facebook.com/vizproevents/" target="_blank">
                                    <div class="icon-social icon-instagram icon-fit"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix padding-vertical-large visible-xs"></div>
                    <div class="col-footer section-collapse section-collapse-footer">
                        <div class="title font-title text-title text-title-middle">Useful Links</div>
                        <div class="content no-display-xs">
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/about" class="link-white">COMPANY INFORMATION</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/contact" class="link-white">CONTACT US</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/sendus-a-note" class="link-white">SEND US A NOTE</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/privacy-redirection" class="link-white">PRIVACY</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/tnc" class="link-white">TERM OF USE</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/tnc-survey" class="link-white">CONTEST TERMS &amp; CONDITIONS</a>
                            </div>
                        </div>
                        <div class="arrow icon-arrow-down-white icon-fit visible-xs"></div>
                    </div>
                    <div class="col-footer section-collapse section-collapse-footer">
                        <div class="title font-title text-title text-title-middle">Shows</div>
                        <div class="content no-display-xs">
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/event/concert" class="link-white">CONCERTS</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/event/dance" class="link-white">DANCE &amp; ACTIONS</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/event/family" class="link-white">KIDS &amp; FAMILY</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/event/musical" class="link-white">MUSICAL / PLAYS</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/event/others" class="link-white">OTHERS</a>
                            </div>
                        </div>
                        <div class="arrow icon-arrow-down-white icon-fit visible-xs"></div>
                    </div>
                    <div class="col-footer section-collapse section-collapse-footer">
                        <div class="title font-title text-title text-title-middle">Theatre</div>
                        <div class="content no-display-xs">
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/locate" class="link-white">GETTING HERE</a>
                            </div>
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/enquiry" class="link-white">ENQUIRY</a>
                            </div>
                        </div>
                        <div class="arrow icon-arrow-down-white icon-fit visible-xs"></div>
                    </div>
                    <div class="col-footer section-collapse section-collapse-footer">
                        <div class="title font-title text-title text-title-middle">Share with Us</div>
                        <div class="content no-display-xs">
                            <div class="text-content">
                                <a href="http://www.vizpro.sg/en/survey" class="link-white">SURVEY</a>
                            </div>
                        </div>
                        <div class="arrow icon-arrow-down-white icon-fit visible-xs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-vertical-medium bg-purple">
            <div class="container font-white text-center font-grey-light">Copyright © 2017 Vizpro</div>
        </div>
    </div>

    <script type="text/javascript">

        $('.footer_container .arrow').click(function(){
            $(this).parent().find('.content').slideToggle();
            $(this).toggleClass('open')
        });

    </script>

</footer>

</body>
</html>