<header th:fragment="header" class="col-xs-12 wrapper" id="header">
    <div id="header" class="header-main white font-medium">
      <div class="header_container">
        <div class="clearfix wrapper-block"><a href="http://www.vizpro.sg">
            <div id="logo-header" class="img-logo icon-logo icon-fit"></div></a>
          <div id="header-nav" class="hidden-xs"><a href="http://www.vizpro.sg/en/event" class="link-no-color">
              <div class="block text-center hover-pointer">
                <div>EVENTS</div>
              </div></a><a href="http://www.vizpro.sg/en/theatre" class="link-no-color">
              <div class="block text-center hover-pointer">THEATRE</div></a><a href="http://www.vizpro.sg/en/about" class="link-no-color">
              <div class="block text-center hover-pointer">ABOUT US</div></a><a href="http://www.vizpro.sg/en/contact" class="link-no-color">
              <div class="block text-center hover-pointer">CONTACT US</div></a></div>
          <div id="btn-search-header" class="icon-loupe hover-pointer">
            <div class="icon-change icon-loupe-black icon-fit"></div>
          </div>
          <div id="header-search" class="wrapper-header-search no-display">
            <form action="http://www.vizpro.sg/en/event">
              <input name="q" placeholder="Search events" class="input-red btn-block">
            </form>
            <div id="btn-header-search-close" class="icon-close hover-pointer icon-close-red icon-fit"></div>
          </div>
          <div class="visible-xs">
            <div id="btn-open-sidebar" class="icon-hamburger">
              <div class="icon-change icon-hamburger-black icon-fit"></div>
              <div class="icon-hamburger-white icon-change icon-fit"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NAV BAR-->
    <div class="sidebar right">
      <div class="btn-close text-left">
        <div class="icon-close icon-fit"></div>
      </div>
      <div class="wrapper-block"><a href="http://www.vizpro.sg" class="block">Home</a></div>
      <div class="wrapper-block"><a href="http://www.vizpro.sg/en/event" class="block">Events</a></div>
      <div class="wrapper-block"><a href="http://www.vizpro.sg/en/theatre" class="block">Theatre</a></div>
      <div class="wrapper-block"><a href="http://www.vizpro.sg/en/about" class="block">About Us</a></div>
      <div class="wrapper-block"><a href="http://www.vizpro.sg/en/contact" class="block">Contact Us</a></div>
    </div>
    <div id="overlay-sidebar" class="overlay-black-screen no-display"></div>   
</header>

