<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="persistenceUnit">
        <class>com.stixcloud.domain.ValidateCartView</class>
        <class>com.stixcloud.domain.Fee</class>
        <class>com.stixcloud.domain.FeeAttributes</class>
        <class>com.stixcloud.domain.FeeChargeRule</class>
        <class>com.stixcloud.domain.FeeClass</class>
        <class>com.stixcloud.domain.FeeRule</class>
        <class>com.stixcloud.domain.FeeRuleFeeMapping</class>
        <class>com.stixcloud.domain.FeeRuleTable</class>
        <class>com.stixcloud.domain.FeeRuleTableConfiguration</class>
        <class>com.stixcloud.domain.FeeTemplateLive</class>
        <class>com.stixcloud.domain.FeeVersionHistory</class>
        <class>com.stixcloud.domain.MasterCodeTable</class>
        <class>com.stixcloud.domain.ProductFeeTemplate</class>
        <class>com.stixcloud.domain.DeliveryMethod</class>
        <class>com.stixcloud.domain.DeliveryMethodTemplateLive</class>
        <class>com.stixcloud.domain.DeliveryPaymentRestrictions</class>
        <class>com.stixcloud.domain.DeliveryTplDetailLive</class>
        <class>com.stixcloud.domain.DeliveryTplPrdtLive</class>
        <class>com.stixcloud.domain.ProductLive</class>
        <class>com.stixcloud.domain.ProfileDeliveryMethod</class>
        <class>com.stixcloud.domain.ProfileInfo</class>
        <class>com.stixcloud.domain.fee.DeliveryMethod</class>
        <class>com.stixcloud.domain.fee.DeliveryMethodTemplateLive</class>
        <class>com.stixcloud.domain.fee.DeliveryPaymentRestrictions</class>
        <class>com.stixcloud.domain.fee.DeliveryTplDetailLive</class>
        <class>com.stixcloud.domain.fee.DeliveryTplPrdtLive</class>
        <class>com.stixcloud.domain.fee.MasterCodeTable</class>
        <class>com.stixcloud.domain.fee.ProductLive</class>
        <class>com.stixcloud.domain.fee.ProfileDeliveryMethod</class>
        <class>com.stixcloud.domain.fee.ProfileInfo</class>
        <class>com.stixcloud.domain.fee.UserProfile</class>
        <class>com.stixcloud.domain.fee.VenueLayoutConfig</class>
        <class>com.stixcloud.domain.TransactionCode</class>
        <class>com.stixcloud.domain.GroupInfo</class>
        <class>com.stixcloud.domain.UserGroup</class>
        <class>com.stixcloud.domain.PriceCategoryLive</class>
        <class>com.stixcloud.domain.ProfileInfo</class>
        <class>com.stixcloud.domain.ProfilePaymentMethod</class>
        <class>com.stixcloud.domain.PaymentTplDetailLive</class>
        <class>com.stixcloud.domain.CartLineItemsView</class>
        <class>com.stixcloud.domain.PaymentMethod</class>
        <class>com.stixcloud.domain.GatewayParameter</class>
        <class>com.stixcloud.domain.PaymentGateway</class>
        <class>com.stixcloud.domain.PaymentGatewayConfiguration</class>
        <class>com.stixcloud.domain.RevenueCenter</class>
        <class>com.stixcloud.domain.RevenueCenterParam</class>
        <class>com.stixcloud.domain.UserPos</class>
        <class>com.stixcloud.domain.Pos</class>
        <properties>
            <property name="hibernate.connection.url"
                      value="jdbc:oracle:thin:@//192.168.11.203:1521/stgcloud"/>
            <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver"/>
            <property name="hibernate.connection.username"/>
            <property name="hibernate.connection.password"/>
        </properties>
    </persistence-unit>
</persistence>
