<div th:fragment="password-portion" id="password-portion">
	<!--Begin password form -->
	<div class="row">
		<h5 class="col-xs-12 col-md-12 col-ms-12 col-lg-12">
			<b class="title-of-section password-portion-title-manage"><span id="patron.account.password.title">Password</span></b>
			<span  data-toggle="collapse" data-target="#password-portion-field-id" class="arrow-down-icon-wrapper password-collapse-disabled">
				<i class="fa fa-angle-double-up arrow-down-icon" aria-hidden="true"></i>
			</span>
		</h5>

		<div id="password-portion-field-id" class="col-xs-12 col-sm-12 col-md-12 collapse">
			<div class="row form-group registering-field password-field-section">
				<label class="col-xs-12 col-sm-4 col-md-4 control-label" th:for="${isRegisterPage ? 'patron.register.password.tooltip' : 'password'}">
					<span class="required-field">*</span>
					<span id="patron.account.password.current.label" class="label-password-usermanage-style">Current Password</span>
					<span id="patron.register.password.label" class="label-password-register-style">Password</span>
				</label><!-- col-sm-4 col-md-4 col-lg-4 -->
				<div class="col-xs-12 col-sm-8 col-md-8 m-lpd0"><!-- col-sm-8 col-md-8 col-lg-8 -->
					<input th:id="${isRegisterPage ? 'patron.register.password.tooltip' : 'password'}" th:field="*{password}" type="password" class="form-control input-xs input-style" />
					<span class="help-block messages"></span>
				</div>
			</div>

			<div class="row form-group registering-field password-field-section new-password-field-section">
				<label class="col-xs-12 col-sm-4 col-md-4 control-label" for="newPassword">
					<span class="required-field"></span>
					<span id="patron.account.password.new.label">New Password</span>
				</label>
				<div class="col-xs-12 col-sm-8 col-md-8 m-lpd0"><!-- col-sm-8 col-md-8 col-lg-8 -->
					<input id="newPassword" th:field="*{newPassword}" type="password" class="form-control input-xs input-style" />
					<span class="help-block messages"></span>
				</div>
			</div>

			<div class="row form-group registering-field password-field-section">
				<label class="col-xs-12 col-sm-4 col-md-4 control-label" for="${isRegisterPage ? 'patron.register.password.confirm.tooltip' : 'confirmPassword'}">
					<span class="required-field required-field-manageuser-password">*</span>
					<span id="patron.register.password.confirm.label" class="label-password-register-style">Confirm Password</span>
					<span id="patron.account.password.confirm.label" class="label-password-usermanage-style">Confirm New Password</span>
				</label>
				<div class="col-xs-12 col-sm-8 col-md-8 m-lpd0"><!-- col-sm-8 col-md-8 col-lg-8 -->
					<input th:id="${isRegisterPage ? 'patron.register.password.confirm.tooltip' : 'confirmPassword'}" type="password" th:field="*{confirmPassword}" class="form-control input-xs input-style"/>
					<span class="help-block messages"></span>
				</div>
				<div id="password-tooltip-wrapper" class="tooltip-box-wrapper"
					 th:include="fragment/tooltip/tooltip:: tooltip (message='<span id=\'patron.account.password.confirm.bubble\'>Your passwords do not match. Please use the same password in both fields.</span>')"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        var $j = jQuery.noConflict();
        if(window.location.pathname === "/sistic/patron/register") {
            $j('div.m-lpd0').removeClass('m-lpd0');
        }
	</script>
</div>
