<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="__${tenantTemplateCode}__/headerfooter/head-tag :: head-tag" th:remove="tag" />
		<object th:include="fragment/general/head-tag :: head-tag" th:remove="tag" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" th:href="@{'/css/tenant/'+${tenantTemplateCode} + '/error-common-style.css'}" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.js" charset="utf-8"></script>
		<!-- <script type="text/javascript" src="https://sandbox.static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script> -->
		<!-- <script type="text/javascript" src="https://static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script> -->				
	</head>
	
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.min.js" charset="utf-8"></script> -->
        
	<body>
        <div class="col-xs-12" th:include="@{ ${tenantTemplateCode} + '/headerfooter/header'} :: header"></div>
        <div class="col-xs-12 no-side-padding no-side-margin" style="display:none;" th:include="fragment/login/loginbar :: login-bar"></div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-centered">
					<div class="content error_content col-xs-12">
						<div class="error_notification">You have signed out successfully.</div>
						<div class="continue_wrapper">
							<a class="shopping-cart-button" href="https://www.sistic.com.sg">
								<span id="cart.button.continue">Continue Browsing</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12" style="min-height: 500px"></div>

		<footer class="col-xs-12" th:include="@{ ${tenantTemplateCode} + '/headerfooter/footer'} :: footer">
		</footer>
		<script src="/bin/login-handle.js" charset="utf-8"></script>
	</body>
</html>