<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>SISTIC</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://sandbox.static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-custom.js" ></script>
		<script type="text/javascript" src="/js/jquery.countdown.js" ></script>
		<script type="text/javascript" src="/js/jquery.uniform.js" ></script>
		<link rel="stylesheet" type="text/css" href="/css/selectize/selectize.css" />
		<!-- <script type="text/javascript" src="https://static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script> -->		
		
		<!-- Temporary place for script, plz refactor codes too -->
		<script>
			document.oncontextmenu = new Function("return false");
	
			function addLoadEvent(func) {
			  var oldonload = window.onload;
			  if (typeof window.onload != 'function') {
			    window.onload = func;
			  } else {
			    window.onload = function() {
			      if (oldonload) {
			        oldonload();
			      }
			      func();
			    }
			  }
			}
	
			addLoadEvent(function() {
			    //document.body.style.cursor = "wait";
				document.getElementById("3dsRequestForm").submit();
			});
		</script>
	</head>
	<body>
        <div class="col-xs-12" th:include="@{ ${tenantTemplateCode} + '/headerfooter/header'} :: header"></div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-centered">
					<div class="content col-xs-12">
						<form id="3dsRequestForm" name="RedirectForm" th:action="${paymentRequest.paymentGatewayConfig.clientServer}" method="post">
							<input type="hidden" name="vpc_Version" value="1" />
							<input type="hidden" name="vpc_Command" value="pay" />
							<input type="hidden" name="vpc_Locale" value="en" />
							<input type="hidden" name="vpc_gateway" th:value="${paymentRequest.paymentGatewayConfig.secureType}"/>
							<input type="hidden" name="vpc_Merchant" value="TEST001500059803" th:value="${paymentRequest.paymentGatewayConfig.merchantId}" />
							<input type="hidden" name="vpc_AccessCode" value="E0FC60D7" th:value="${paymentRequest.paymentGatewayConfig.accessCode}" />
							<input type="hidden" name="vpc_MerchTxnRef" value="20170902-000023mtr" th:value="|${paymentRequest.transactionRefNumber}mtr|" />
							<input type="hidden" name="vpc_OrderInfo" value="20170902-000023oi" th:value="|${paymentRequest.transactionRefNumber}oi|" />
							<!-- non decimal amount in cents -->
							<input type="hidden" name="vpc_Amount" value="1" th:value="${paymentRequest.getPayableAmountInCents()}" />
							<!-- test public ip uat url to test return url -->
							<input type="hidden" name="vpc_ReturnURL" value="http://103.13.128.188:8080/confirmorder/return3ds" />
							<input type="hidden" name="vpc_card" value="VISA" th:value="${paymentRequest.creditCardInfo.creditCardType}" />
							<input type="hidden" name="vpc_CardNum" value="4005550000000001" th:value="${paymentRequest.creditCardInfo.creditCardNo}" />
							<input type="hidden" name="vpc_CardExp" value="1705" th:value="${paymentRequest.creditCardInfo.creditCardExpiry}" />
							<input type="hidden" name="vpc_CardSecurityCode" value="" th:value="${paymentRequest.creditCardInfo.creditCardCSC}" />
							<input type="hidden" name="vpc_SecureHash" value="5413EE9297E90260A2899EC155257329" th:value="${paymentRequest.paymentGatewayConfig.secureCode}" />
							<input type="hidden" name="vpc_SecureHashType" value="SHA256" />
							
							<input type="submit" value="Submit" />
						</form>
					</div>
					<footer class="col-xs-12" th:include="@{ ${tenantTemplateCode} + '/headerfooter/footer'} :: footer"></footer>
				</div>
			</div>
		</div>
	</body>
</html>





































