<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="__${tenantTemplateCode}__/headerfooter/head-tag :: head-tag" th:remove="tag" />
		<object th:include="fragment/general/head-tag :: head-tag" th:remove="tag" />
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link href="/css/header_footer.css" media="screen" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/selectize/selectize.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/tenant/'+${tenantTemplateCode} + '/redirect-3ds.css'}"/>
		<!-- <script type="text/javascript" src="https://static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script> -->

		<!-- Temporary place for script, plz refactor codes too -->

	</head>
	<body>
        <div class="col-xs-12" th:include="@{ ${tenantTemplateCode} + '/headerfooter/header'} :: header"></div>
        <div class="col-xs-12 no-side-padding no-side-margin" th:include="fragment/login/loginbar :: login-bar"></div>

		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-md-12 col-centered">
					<div class="content col-xs-12">
						<div class="col-xs-12 si-redirect-section">
							<p class="text-center si-redirect-message">
								Your credit card is protected by a highly secure authentication system (3-D Secure).
								To ensure the security of your online booking transaction, verification checks are currently
								being carried out by your card issuer. Your patience is appreciated.
							</p>
						</div>
						<div class="col-xs-12 si-redirect-section ">
							<div class="si-redirect-info ">

								If redirection does not occur in 10 seconds, please do not close this browser. Follow the steps below to proceed with your payment.
								<div class="pull-left si-redirect-info-step ">
									Click the Shopping Cart tab at the top of the webpage.
								</div>
								<div class="pull-left si-redirect-info-step">
									If the tickets selected are displayed in the shopping cart, click the "Proceed to Payment" button to complete your transaction.
								</div>
							</div>
						</div>
						<div class="col-xs-12">

							<div class="progress-container">
								<div class="progress">
									<div class="progress-bar">
										<div class="progress-shadow"></div>
									</div>
								</div>
							</div>

						</div>

						<form id="postconfirmationForm" th:action="@{/{tenant}/confirmorder/postconfirmation (tenant=${tenantContext}) }" th:object="${postConfirmationForm}" method="post" >
							<th:block th:each="element: ${paymentGateRespMap}" >
								<input type="hidden" th:name="${element.key}" th:value="${element.value}" />
							</th:block>
						</form>
					</div>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.min.js" charset="utf-8"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js" charset="utf-8"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js" charset="utf-8"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.js" charset="utf-8"></script>
					<script type="text/javascript" src="/js/jquery-ui-custom.js"></script>
					<script type="text/javascript" src="/js/jquery.countdown.js"></script>
					<script type="text/javascript" src="/js/jquery.uniform.js"></script>
					<script src="/bin/login-handle.js" charset="utf-8"></script>

					<script charset="utf-8">
						setTimeout(function(){
							document.getElementById("postconfirmationForm").submit();
						}, 1000);
					</script>

				</div>
			</div>
		</div>
		<footer th:include="@{ ${tenantTemplateCode} + '/headerfooter/footer'} :: footer"></footer>
	</body>
</html>





































