<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="__${tenantTemplateCode}__/headerfooter/head-tag :: head-tag" th:remove="tag" />
	<object th:include="fragment/general/head-tag :: head-tag" th:remove="tag" />
</head>
<body>
	<form id="password-reset" th:action="@{/{tenant}/patron/changepassword (tenant=${tenantContext}) }" th:object="${passwordResetForm}" method="post">
		<div>
			<span>Password Reset</span>
		</div>
		<hr />
		<div class="hidden">
			<input th:field="${passwordResetForm.email}" type="hidden" />
			<input th:field="${passwordResetForm.token}" type="hidden" />
		</div>
		<div>
			<span>New Password :</span>
			<input th:field="${passwordResetForm.password}" type="password" />
		</div>
		<div>
			<span>Re-enter Password :</span>
			<input th:field="${passwordResetForm.confirmPwd}" type="password" />
		</div>
		<hr />
		<button>Change Password</button>
		<div>
			<span th:text="${error}">Error goes here</span>
		</div>
	</form>
</body>
</html>